# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Tomer\OneDrive - mail.tau.ac.il\לימודים\שנה ב\סמסטר ב'\04 - פרוייקט תוכנה\04 - תרגילים\01 - תרגיל בית ראשון (רשות)\Base_Transform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
